/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ec0ecb;
    color: #333;
    text-align: center;
}

/* Header styling */
h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #444;
}

/* Buttons styling */
button {
    background-color: #0095f6;
    color: rgb(22, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007bb5;
}

/* Followers and following info */
p {
    font-size: 18px;
    margin: 10px 0;
}

/* Post image styling */
img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Post details styling */
p {
    font-size: 16px;
    color: #555;
}

/* Horizontal line styling */
hr {
    border: 0;
    height: 1px;
    background: #4a0000;
    margin: 20px 0;
}