<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h3>Edit Your Chat</h3>

    <p>This chat was sent from <%= chat._id %></p>
    <form method="POST" action="/chats/<%= chat._id %>/edit">
        <textarea name="msg" rows="5" cols="10"><%= chat.msg %></textarea>
        <button type="submit">Update Chat</button>
    </form>
</body>
</html>