/*.red{
    color: red;
}

.box{
    border: 1px solid black;
    background-color: red;
}


body{
    font-family:Arial, Helvetica, sans-serif;

}
#mainImg{
    width:35%;
}
.box{
    border:0.25px solid black;
    background-color: lightgray;
    width:200px;
    padding:1rem;

}
.boxLink{
    text-decoration:none;
}
.oldImg{
    height:200px;
    width:200px;
    margin-right:1rem;

}
#description{
    background-color: antiquewhite;
}

.boxLink{
    text-decoration: none;
}
.oldImg{
    height: 200px;
    width: 200px;
    margin-right:1rem;
}
#description{
    background-color: antiquewhite;
} */


/* generate random color  */
/* body{
    text-align: center;
    display: flex;
    justify-content: center;
}

 
div{
    height: 100px;
    width: 500px;
    border: 1px solid rgb(19, 14, 14);
    text-align: center;
    margin: auto;
} */

div{
    height: 200px;
    width: 400px;
    background-color: pink;
}
ul{
    background-color: blue;
}
li{
    background-color: greenyellow;
}