<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>this is the home page</h1>
     <!-- ejs  -->
    <h3> <%=  1 + 2 %></h3>   
    <h3> <%= ["hello","ok","bro"][2] %></h3>  
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro vitae facere nihil aspernatur iusto impedit,
        quibusdam unde consequuntur vero, cupiditate totam laborum sit molestias praesentium adipisci dolorem, nulla
        repellat eum.</p>
        <button>click me</button>
</body>

</html>  