/* div{
    height: 200px;
    width: 200px;
    background-color: rgba(250, 0, 0, 1);
}
#opacity{
    background-color: yellow;
    opacity: 1;

    transition
} */
 /* div{
    height: 100px;
    width: 100px;
    background-color: green;
    transition-delay:  1s;
    margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;

 }
 div:hover{
    background-color: black;
    border-radius: 50%;
    margin-top: 400px;
    background-color: pink;
 } */

 /* transform */
 section{
    margin-top: 100px;
 }
 div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
 }

 div:nth-of-type(2n){
    background-color: olivedrab;
 }
 div:nth-of-type(3n){
    background-color: orange;
 }

 #one{
    transform: rotate(45deg);
 }

 /* transform scale */
 #two{
    /* transform: scale(0.5); */
    transform: scale(2,0.5);
 }
 /* tranfor transalte */
 #three{
    transform: translate(11 0px,100px);
 }
 /* skew */
 #four{
    transform: skew(10deg);
 }
 #five{
    transform: rotate(30deg) skew(30deg);
 }
 /* box shadow */
 #box{
    background-color: green;
    box-shadow: 2px 2px 10px yellow;
 }
 /* backgrounf image */
 #box{
    width: 200px;
    height: 500px;
    background-color: lightblue;
    margin: 10px auto;
    background-image: url(my\ .jpg);
    background-size: contain;

 }