div{
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    background-color: gray;
}

#static{
    position: static;
    top: 100px;
    left: 100px;
    background-color: yellow;
}
#reletive{
    background-color: yellow;
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute{
    position: absolute;
    top: 50px;
    
}
#fixed{
    position: fixed;
}